@charset "utf-8";

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button{
    margin:0;
    padding:0
}

/* 폰트 초기화 */

textarea {
    font-size: 12px;
    line-height: 1.5;
    color: #222;
    font-family:var(--fontNexon1M), AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}

/* 링크 초기화 */
a {
    color: #222;
    text-decoration: none;
}

/* 목록 초기화 */
ol,
ul {
    list-style: none;
}

/* 스타일 초기화 */
strong {
    font-weight: normal;
}
em {
    font-style: normal;
}
img {
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html,
body,
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
div,
nav,
section,
header,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
video,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #0e141c;
    vertical-align: middle;
    background: transparent;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-break: keep-all;
    line-height: 1.2em;
    font-family: 'NanumSquare', 'NanumGothic', arial;
    letter-spacing: -0.8px;
    font-weight: 300;
}

*:focus {
    outline-style: none;
}

/* 네이버 리셋임 */

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
canvas,
embed,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
summary,
time,
mark {
    padding: 0;
    margin: 0;
    font: inherit;
    border: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    line-height: 1.2em;
    font-family: inherit;
}

input,
button,
select {
    outline-style: none;
    -webkit-outline-style: none;
    -webkit-outline-style: none;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border: 0;
    font: inherit;
    box-sizing: inherit;
}

input:focus {
    outline-style: none;
}

input[type="radio"] {
    background-color: transparent;
    border: 3px solid #ccc;
}

input[type="checkbox"] {
    background-color: transparent;
    border: 3px solid #ccc;
}

input[type="password"] {
    font-family: 'arial', sans-serif;
    color: #000;
}

select {
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eee;
    border-radius: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
summary,
hgroup,
menu,
nav,
section {
    display: block;
    font-family: inherit;
    box-sizing: inherit;
}

progress {
    vertical-align: baseline
}

ul,
li,
dd {
    list-style: none;
    padding: 0;
    margin: 0;
}

span {
    margin: 0;
    padding: 0
}


a:link,
a:visited,
a:hover {
    text-decoration: none
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

img {
    border-style: none;
    vertical-align: middle
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table caption {
    display: none
}

td,
th {
    display: table-cell;
    vertical-align: middle;
}

.block {
    display: block;
    width: 100%;
}

b {
    font-weight: bold;
}

.pc_only {
    display: block;
}

.mb_only {
    display: none;
}
