/* 리셋 */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

#warap {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

#header {
    margin-top: 30px;
    height: 100px;
}

#banner {}

#content1 {}

#content2 {}

#footer {}


/* g헤더 */

#header h1 {
    float: left;
}

#header h1 img {
    width: 100px;
}

#header .nav {
    float: right;
    font-size: 17px;
    font-weight: bold;
}

#header .nav ul {}

#header .nav li {
    float: left;
}

#header .nav li a {
    display: block;
    padding: 30px 15px;
}

/* 배너 */

#banner {}

#banner img {
    width: 100%;
}

/* content1 */
#content1 {
    margin-top: 20px;
}

#content1 .notice {
    float: left;
    width: 49%;
    height: 220px;
    margin-right: 2%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#content1 .ad {
    margin-right: 0;
    float: left;
    width: 49%;
    display: block;
}

#content1 .ad img {
    width: 100%;
}

/* 노티스 */
.notice {
    position: relative;
    padding: 30px;
}

.notice ul {}

.notice ul li {
    float: left;
    margin-right: 20px;
}

.notice ul li a {
    font-size: 23px;
    color: #999;
    font-weight: bold;
}

.notice ul li.active a {
    color: #000;
}

.notice ul li ul {
    float: none;
    position: absolute;
    left: 30px;
    top: 70px;
}

.notice ul li ul li {
    width: 98%;
    padding: 5px 0;
    font-weight: normal;
}

.notice ul li ul li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 16px;
    color: #333;
}

.notice ul li ul li span {
    float: right;
    width: 20%;
    color: #999;
}

.notice .more {
    font-weight: bold;
    color: #999;
    position: absolute;
    right: 20px;
    top: 30px;
}

/* content2 */
#content2 {
    margin-top: 25px;
}

#content2 h2 {}

#content2 ul {}

#content2 li {
    float: left;
    width: 24.25%;
    margin-top: 15px;
    margin-right: 1%;
}

#content2 ul li a span {
    margin-top: 50px;
}

#content2 li:last-child {
    margin-right: 0;
}

#content2 li img {
    width: 100%;
}

/* footer */
#footer {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding: 30px 0;
}

#footer address {
    font-style: normal;
}

#footer address ul {
    width: 720px;
}

#footer address li {
    display: inline;
    line-height: 1.7;
    padding: 0px 15px 0px 10px;
}

#footer address li:after {
    content: '';
    width: 1px;
    height: 13px;
    background: #666;
    position: absolute;
    right: 0;
    top: 0;
}

#footer address li.left {
    padding-left: 0;
}

#footer address p {
    text-transform: uppercase;
    padding-top: 30px;
}